* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    font-family: sans-serif;
    color: #404040;
}

.container {
    width: 800px;
    margin-top: 10px;
}

hr {
    border-color: #404040;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

.blogMarked img {
    width: 100%;
}

.blogs {
    margin-top: 20px;
}

.title {
    display: block;
    background-color: white;
    height: 60px;
    padding: 20px;
    border-bottom: 1px solid lightsteelblue;
    text-transform: uppercase;
}

.title:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.title *::selection {
    background: none;
}

.active {
    background-color: lightgreen;
}

.content {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    background-color: #fbfbfb;
}

.blogMarked {
    border: 1px solid lightsteelblue;
    background-color: #f7f7f7;
    margin-top: 20px;
    padding: 20px;
}